@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.scroll-track {
  animation: scroll-left 20s linear infinite;
  display: flex;
  width: max-content;
}

body {
  width: 100%;
  overflow-x: hidden;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
html {
  scroll-behavior: smooth;
}
